<div class="login_body">
  <div class="login-page">
    <%= link_to "Mine", user_session_path, class:"form-title"%>
    <div class="form">

      <%= form_with model: @user, url: user_registration_path,class: 'registration-main', local: true do |f| %>

      <form class="login-form">
        <div class="form-input">
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder:"nickname" %>
        </div>
        <div class="form-input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email" %>
        </div>
        <div class="form-input">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"password" %>
        </div>
        <div class="form-input">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"password" %>
          <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="form-button">
          <%= f.submit "新規登録" %>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</div>
