<div class="main-page">
 
  <div class="top-page-header">
    <div class="section-global-nav-left">
    </div>
    <div class="header-title">
      Mine
    </div>
    <div class="header-side-bottom">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </div>
  </div>
  
  <div class="category-content">
    <ul class="menu-list">
      <li><div class="today-menu">
             <%= link_to "Today's Menu", root_path %>
            </div></li>
      <li><div class="today-menu">
             <%= link_to "New!!(Challenge)", post_path(@random) %>
            </div></li>
      <li> <div class="new-menu">
            <%=link_to 'Menu(Register)', new_post_path %>
            </div></li>
      <li><div class="serch-menu">
              <%=link_to 'Menu List', list_up_posts_path %>
            </div></li>
    </ul>
  </div>
  <section id="main">
    <div class="main-wrapper">
      <div class="left-content">
        <div class= "menu">[Today's Menu]</div>
          <% @random.each do |post| %>
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, class:"main-image" %>
              <p class="main-title"><%= "【料理名】#{post.title}" %></p>
              <p class="main-text"><%= "【レシピ・食材メモ】 #{post.text.truncate(20)}" %></p>
            <% end %>
          <% end %>
      </div>
      <div class="right-content">
          <h1>Genre Search</h1>
            <%= search_form_for @p, url: search_genre_posts_path do |f| %>
              <%= f.label :genre_id_eq, '選択して下さい' %>
              <div class="genre_form">
              <%= f.collection_select :genre_id_eq, Genre.all,:id,:name, include_blank: '指定なし'  %>
              </div>
              <br>
              <%= f.submit '検索' %>
            <% end %>
          <h5>
            ＼Era tutto buonissimo./
          </h5>
      </div>
    </div>
  </section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
         <% @posts.each do |post| %>
        <div class="swiper-slide">
          <%= image_tag post.image, class:"slide-image" %>
        </div>
      <% end %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>

<script>
  var swiper = new Swiper ('.swiper-container', {
    loop: true,  
    autoplay: {
      dispray: 2000,
      disable0nInteraction: false,
    },
    slidesPerView:4,
    centeredSlides : true, 
    effect: 'coverflow', 
    
    pagination: {  //ページネーションを表示
      el: '.swiper-pagination',
      clickable: true,  //アイコンをクリックすると対応するスライドに移動
    },
  
    navigation: {  //ナビゲーションボタンを表示
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
</script> 
